html, body {
    height: 100%;
    width: 100%;
}
#logo {
    margin: 0 auto;
    width: 225px;
    height: 57px;
    margin-left: 20px;
}
.header-links {
    font-family: "AkkuratRegular", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: italic;
    margin: -40px 40px 0 auto;
    padding: 10px;
    text-transform: uppercase;
    width: 300px;
}

.header-links li {
    float: right;
    list-style: none;
    margin-left: 12px;
}
.header-links {
    font-style: italic;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 0.8rem;
}
