/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2017, 11:59:04
    Author     : 1609963
*/

element {}html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding: 0;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border: 0;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-top-color: -moz-use-text-color;border-right-color: -moz-use-text-color;border-bottom-color: -moz-use-text-color;border-left-color: -moz-use-text-color;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image-source: none;border-image-slice: 100% 100% 100% 100%;border-image-width: 1 1 1 1;border-image-outset: 0 0 0 0;border-image-repeat: stretch stretch;outline: 0;outline-width: 0px;outline-style: none;outline-color: -moz-use-text-color;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
element {
}
body, div, td, .p, .s {
    color: #a90a08;
}
body, td, div, .p, a, .d {
    font-size: medium;
}
body, .d, .p, .s {
    background-color: blue ;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans',arial,sans-serif;
}
body {
    line-height: 1;
    color: black;
    background: white;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

body, td, div, .p, a, .d {
    font-size: medium;
}
a {
    text-decoration: none;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid;
    color: #606;
    word-wrap: break-word;
}